@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Desafio NIBO</h1>
    Você deverá criar um simples sistema que atenda à todos os requisitos de negócio e técnicos e nos enviar no prazo estipulado.

    <h2>Persona</h2>
    <p>Xayah é uma pequena jovem empresária que presta serviços de coaching para grupos de jogadores profissionais de eSports. Ela utiliza Excel para controlar as finanças da empresa.</p>

    <h2>Problema</h2>
    <p>Xayah precisa concilicar o extrato bancário da empresa com as entradas e saídas que ela registrou no Excel do último mês. Para isso é utilizado um arquivo do tipo OFX, que contém o registro do banco de todas as entradas e saídas de um período e é fácil de exportar pelo Bankline.</p>
    <p>O problema é que Xayah baixou dois arquivos OFX: um que contém transações do dia 01 ao dia 20 e outro que contém transações do dia 15 ao 31. E agora ela não sabe o que fazer para garantir que todas as transações sejam conciliadas corretamente, uma vez que os arquivos OFX possuem transações de um período em comum.</p>
    
    <h2>O que você deverá fazer</h2>
    <p>Criar um sistema onde a Xayah possa importar dois ou mais arquivos OFX e, no final, poderá ver todas as transações bancárias que ocorreram no período.</p>
    <p>Lembre-se que os arquivos OFX poderão conter transações de um mesmo período. Essas transações devem ser exibidas sem duplicidade. Também lembre-se de que é possível que existam transações do mesmo valor em um mesmo dia.</p>
    <p>Os arquivos OFX estão na pasta \OFX.</p>

    <h2>Requisitos</h2>

    <ul>
        <li>É necessário persistir as transações finais.</li>
        <li>Não utilize bibliotecas específicas para a leitura de arquivos do tipo OFX.</li>
        <li>Você deverá desenvolver uma solução WEB em C# .NET utilizando os frameworks, tecnologias e conceitos que julgar melhor.</li>
        <li>Queremos como resultado uma solução simples, legível e de qualidade.</li>
        <li>Código feito e comentado em inglês.</li>
        <li>Não utilize soluções prontas. Nós as conhecemos.</li>
        <li>Seja criativo. Você decide quais funcionalidades irá incluir além dos requisitos.</li>
        <li>Não hospede sua aplicação ou parte dela em nenhum lugar. Sua aplicação deverá rodar localmente sem depender de serviços externos.</li>
    </ul>
</div>
